* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
strong{
    color: #f0885d;
    font-weight: 700;
}
b{
    font-weight: 700;
}



/* header */
.header-v8{
    padding:1rem 0;
}
.header-content-v8 .logo-v8{
    margin-right: auto;
}
.header-content-v8 .logo-v8 img{
        height: 3rem;
    }
.header-content-v8 nav ul li{
    padding: 0 1.25rem;
}
.header-content-v8 nav ul li a{
    font-size: 1.25rem;
    font-weight: 400;
}
.header-content-v8 nav ul li:hover>ul {
    opacity: 1;
    visibility: visible;
    margin-top: 1rem
}
.header-content-v8 nav ul li>ul li a{
    font-size: 1rem;
}
.nav-toggle-btn{
    margin-left: 5rem !important;
}


/* sec */
.sec-main {
    padding: 5rem 0;
}
.sec-main .sec-header h2{
    position: relative;
    font-size : 2.5rem;
    font-weight: 400;
    text-align: center;
    margin: 5rem 0 2rem 0;
    white-space: pre-line;
}
.sec-main .sec-header h2 b{
    font-size : 5rem;
    text-align: center;
    color: #fff;
    font-weight: 700;
}
.sec-main .sec-content{
    padding: 5rem 0;
}


/* index.html 메인화면*/
/* main-banner : 메인배너 */
.main-banner:before{
    position:absolute;
    content:"";
    background-color: #fef2d9;
    width: 100%;
    height: 550px;
}
/* main-banner slide */
.main-banner .swiper .swiper-slide{
    max-width: 70% ;
    background-color: #fff;
    border-radius: 2rem;
    background-image: url("../image/main_slide_01.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    padding-top: 30%;
}
.main-banner .swiper .swiper-slide h2{
    position: absolute;
    top:5rem;
    left: 3rem;
    font-size: 2rem;
    color: #fff;
    line-height: 1.56;
    display: inline-block;
    font-weight: 400;
}
.main-banner .swiper .swiper-slide h2 span{
    position: absolute;
    right:- 6rem;
    margin-left: 1rem;
    bottom: -1rem;
    display: inline-block;
    background: #f0885d;
    border-radius: 50%;
    font-weight: 900;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
}
.main-banner .swiper .swiper-slide h3 {
    position:absolute;
    left: 3rem;
    bottom:3rem;
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
}
.main-banner .swiper .swiper-slide h3 span{
    font-size: 5rem;
}
.main-banner .swiper .swiper-slide h3 b{
    font-weight: 900;
}

/* main-banner swiper.js nav버튼 */
.main-banner .swiper-button-nav{ 
    width: 70%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 15%;
}
.main-banner .swiper-button-next, .main-banner .swiper-rtl .swiper-button-prev{
    right: -60px;
}
.main-banner .swiper-button-prev, .main-banner  .swiper-rtl .swiper-button-next{
    left: -60px;
}

/* main-banner swiper.js pagination - bullets타입 */
.swiper-pagination{
    position : unset;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    font-size: 0.8rem;
}
.swiper-pagination .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination .swiper-pagination-custom, .swiper-pagination .swiper-pagination-fraction{
    width:auto;
    line-height: 1;
}
.swiper-pagination-bullet{
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,0.8rem));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,0.8rem));
    background : rgba(0,0,0,0.2);
    opacity: 1;
}
.swiper-pagination-bullet-active{
    border: solid 2px #f0885d;
    background : rgba(0,0,0,0.2);
}
/* main-banner swiper.js pagination - custom타입 */
.main-banner .append-buttons{
    height: 5rem;
    display : flex;
    overflow-x: auto;
    overflow-y: hidden;
    margin : 1rem auto;
    width: 100%;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}
.main-banner .append-buttons span{
    display: inline-block;
    width:auto;
    height: auto;
    font-size: 1.25rem;
    color: #999;
    margin: 0.75rem 1rem !important; 
    background: transparent;
    border-radius: 0;
    border-bottom: solid 1px #999; 
    transition-duration: 0.2s;
}
.main-banner .append-buttons span.swiper-pagination-bullet-active{
    color: #fff;
    background-color: #f0885d;
    border-radius: 2rem;
    border:0;
    padding: 0.75rem 2rem; 
    margin:0 1rem;
}




/* sec-main-feature */
.sec-main-feature{
    background: url("../image/metal_navy_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.sec-main-feature .sec-header h2{
    margin-bottom: 5rem;
}
.sec-main.sec-main-feature .sec-header h2::before{
    content: "";
    position: absolute;
    height: 4.5rem;
    width: 100%;
    left: 0;
    top: -1rem;
    transform: translateY(-100%);
    background-image: url(../image/success_deco_01.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.sec-main.sec-main-feature .sec-header h2::after{
    content: "";
    position: absolute;
    height: 5.5rem;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    background-image: url(../image/success_deco_02.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.card-feature{
    background-color: #fff;
    border-radius: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    word-break: keep-all; 
    word-wrap: break-word;
    margin-bottom: 2rem;
}
.card-feature img{
    float: left;
    width: 4rem;
    height: 4rem;
    margin: 3rem;
}
.card-feature .card-body{
    padding: 1rem;
    padding-left: 0;
}
.card-feature h5{
    color: #000;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.card-feature p{
    white-space: pre-line;
    line-height: 1.56;
    font-size: 1.25rem;
}



/* main-store-swiper */
.sec-main-store .sec-content{
    position: relative;
}
.sec-main-store .sec-content .container-fluid{
    width: 80%;
}
.sec-main-store .sec-content::before{
    content:"";
    position:absolute;
    height: 1000px;
    top:-5rem;
    left:0;
    width: 100%;
    background-image: url(../image/receipt.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.main-store-swiper{
    margin-top: 500px;
    padding-top: 5rem;
}
.main-store-swiper .swiper-slide{
    border : solid 2px #f0885d;
    border-radius : 1.5rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transform: scale(0.8);
    text-align: center;
    padding: 2rem 0 3rem 0;
    background: #fff;
    transition: transform 0.4s;
}
.main-store-swiper .swiper-horizontal>.swiper-pagination-progressbar, .main-store-swiper .swiper-pagination-progressbar.swiper-pagination-horizontal, .main-store-swiper .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .main-store-swiper .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{
    max-width: 60%;
    margin: 5rem auto 3rem auto;
    height: 0.5rem;
}
.main-store-swiper .swiper-slide img{
    height: 5rem;
    width: auto;
    margin-bottom: 1rem;
}
.main-store-swiper .swiper-slide h5{
    color: #000;
    font-size : 2rem;
    font-weight: 400;
    white-space: pre-line;
}
.main-store-swiper .swiper-slide h6{
    margin: 3rem auto 1.5rem auto;;
    background: #f0885d;
    color: #fff;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 250px;
    font-size: 2rem;
    font-weight: 700;
}
.main-store-swiper .swiper-slide p{
    font-size: 1.5rem;
    line-height: 1.36;
}
.main-store-swiper .swiper-slide p.store-price{
    font-size: 3rem;
    font-weight: 900;
    color: #000;
}
.main-store-swiper .swiper-slide.swiper-slide-active{
    transform: scale(1);
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    /* /* background: #f0885d; */
    background: var(--swiper-pagination-color,#f0885d);

}
.sec-main-store .more-button{
    text-align: center;
}
.sec-main-store .btn-store-more{
    white-space: pre-line;
    border : solid 2px #f0885d;
    border-radius: 5rem;
    font-size: 1.5rem;
    display: inline-block;
    padding: 1rem 2rem;
    line-height: 1.36;
    color: #000;
}
.sec-main-store .btn-store-more:hover{
    color: #fff;
    background: #f0885d;
}
.sec-main-store .btn-store-more:hover strong{
    color: #fff;
    transition: all .4s ease-in-out;
}




/* sec-main-review  */
.sec-main-review {
    background : #efefef;
}
.sec-main-review .swiper-pagination{
    margin-top: 2rem;
 }
 .sec-main-review .swiper-pagination-bullet{
     background : #fff;
 }
.sec-main-review .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: #f0885d;
}
.card-review{
    border-radius: 2rem;
    overflow: hidden;
}
.card-review .card-head{
    background: #fff;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-review .card-head .card-head-title{
    max-width: calc(100% - 7rem);
}
.card-review .card-head .store-name{
    color: #000;
}
.card-review .card-head h5{
    margin: 0.5rem 0 1rem 0;
    color: #000;
    font-weight: 700;
    font-size: 2rem;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
}
.card-review .card-head p{
    font-size: 1.25rem;
}
.card-review .card-head-img{
    background: #efefef;
    width: 6rem;
    height: 6rem;
    flex: 0 0 6rem;
    border-radius: 50%;
    margin-left: 1rem;
}
.card-review .card-body{
    background : #f0885d;
    padding: 2rem;
}
.card-review .card-body h6{
    color : #fff;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.card-review .card-body p{
    color : #fff;
    font-size: 1.25rem;
    line-height: 1.56;
    word-break: keep-all;
    white-space: pre-line;

    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.card-review .card-body .more-button{
    text-align: center;
    margin-top: 2rem;
}
.card-review .card-body .btn-review-more{
    color: #fff;
    border-bottom: solid 1px #fff;
    font-weight: 700;
    padding-bottom: 0.25rem;
}
@media only screen and (max-width:991px) {
    html,body {
        font-size: 12px; 
    }
    /* sec */
    .sec-main{
        padding: 3rem 0;
    }
    .sec-main .sec-header h2{
        font-size: 1.5rem;
        margin : 3rem 0 1rem 0;
    }
    .sec-main .sec-header h2 b{
        font-size: 2.5rem;
    }

    /* index.html 메인화면*/
    /* main-banner : 메인배너 */
    .main-banner:before{
        display: none;
    }
    /* main-banner slide */
    .main-banner .swiper .swiper-wrapper{
        margin: 0px 1rem;
    }
    .main-banner .swiper .swiper-slide {
        max-width: 85%;
        background-color: #fff;
        border-radius: 10px;
        background-image: url(../image/main_slide_01.jpg);
        background-position: 60%;
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;
        padding-top: 30%;
    }
    .main-banner .swiper .swiper-slide h2{
        top:5rem;
        left: 1rem;
        font-size: 1.25rem;
        color: #fff;
        line-height: 1.56;
        display: inline-block;
        font-weight: 400;
    }
    .main-banner .swiper .swiper-slide h2 span{
        left: 0;
        right: auto;
        margin-left: 0rem;
        bottom: -5.5rem;
        font-size: 2rem;
    }
    .main-banner .swiper .swiper-slide h3 {
        position:absolute;
        left: 1rem;
        bottom:3rem;
        font-size: 1.5rem;
        color: #fff;
    }
    .main-banner .swiper .swiper-slide h3 span{
        font-size: 3rem;
    }

    /* main-banner swiper.js pagination - bullets타입 */
    .swiper-pagination{
        margin :0;
        height: 3rem;
    }
    /* main-banner swiper.js pagination - custom타입 */
    .main-banner .append-buttons{
        justify-content: flex-start;
        padding : 0 0.5rem;
        height: 3.75rem;
        margin : 0 0 0.5rem 0;
    }
    .main-banner .append-buttons span{
        font-size: 0.9rem;
        margin: 0.5rem !important;
    }
    .main-banner .append-buttons span.swiper-pagination-bullet-active{
        padding: 0.5rem 1.25rem;
        margin: 0.5rem;
    }

    /* main-banner swiper.js nav버튼 */
    .main-banner .swiper-button-nav{
        display: none;
    }

    /* sec-main-feature */
    .sec-main-feature{
        padding: 3rem 0;
    }
    .sec-main.sec-main-feature .sec-header h2::before{
        height: 2.5rem;
    }
    .sec-main.sec-main-feature .sec-header h2::after{
        height: 3rem;
    }
    .sec-main .sec-content{
        padding: 3rem 0;
    }
    .card-feature{
        margin-bottom: 1rem;
        border-radius: 1rem;
    }
    .card-feature img {
        float: left;
        width: 3rem;
        height: 3rem;
        margin: 2rem;
    }
    .card-feature h5{
        font-size: 1.5rem;
        margin-bottom: 0.75rem;
    }
    .card-feature p{
        font-size: 0.9rem;
        white-space: normal;
    }

    /* main-store-swiper */
    .sec-main-feature .sec-header h2{
        margin-bottom: 3rem;
    }
    .sec-main-store .sec-content::before{
        height: 400px;
        top: -3rem;
        background-size: cover;
    }
    .sec-main-store .sec-content .container-fluid{
        width: 100%;
        padding: 0;
    }
    .main-store-swiper{
        margin-top: 150px
    }
    .main-store-swiper .swiper-slide{
        padding: 1rem 0 1.5rem 0;
        transform : scale(1);
    }
    .main-store-swiper .swiper-horizontal>.swiper-pagination-progressbar, .main-store-swiper .swiper-pagination-progressbar.swiper-pagination-horizontal, .main-store-swiper .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .main-store-swiper .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{
        margin : 2rem auto;
        max-width: 80%;
        height: 0.25rem;
    }


    .main-store-swiper .swiper-slide img{
        height: 3rem;
    }
    .main-store-swiper .swiper-slide h5{
        font-size: 1rem;
    }
    .main-store-swiper .swiper-slide h5 b{
        font-size: 1.25rem;
    }
    .main-store-swiper .swiper-slide h6{
        font-size: 1rem;
        width: 80%;
        border-radius: 2rem;
        margin: 2rem auto 1rem auto;
    }
    .main-store-swiper .swiper-slide p{
        font-size: 1rem;
    }
    .main-store-swiper .swiper-slide p.store-price{
        font-size: 1.5rem;
    }

    .sec-main-store .btn-store-more{
        font-size: 0.9rem;
        padding: 0.5rem 1.5rem;
    }

    /* sec-main-review */
    .sec-main-review .swiper .swiper-wrapper {
        margin: 0px 1rem;
    }
    .sec-main-review .swiper-slide{
        max-width: 85%;
        border-radius: 10px;
    }
    .card-review .card-head .card-head-title {
        max-width: calc(100% - 6rem);
    }
    .card-review .card-head h5{
        font-size: 1.5rem;
    }
    .card-review .card-head p{
        font-size: 1rem;
    }
    .card-review .card-head-img{
        width: 5rem;
        height: 5rem;
        flex: 0 0 5rem;
    }
    .card-review .card-head,.card-review .card-body{
        padding: 1.5rem;
    }
    .card-review .card-body h6{
        font-size: 1.25rem;
    }
    .card-review .card-body p{
        font-size: 1rem;
    }
}





@media only screen and (max-width:1200px) {
    html,body {
        font-size: 14px; 
    }
    
}
