@charset "utf-8";

/* ******************************************************
	00. common
*******************************************************/
input[type=text],
input[type=number],
input[type=email],
input[type=url],
input[type=tel],
input[type=password]{position:relative;display:inline-block;width:100%;height:30px;text-align:left;font-size:14px;line-height:1;color:#666;font-weight:400;padding:0 15px;letter-spacing:-0.025em;background-color:#fff;border-radius:0;border:1px solid #ddd;box-sizing:border-box;transition:background 0.5s, border 0.5s ease;z-index:0;}
input:-webkit-autofill{-webkit-box-shadow: 0 0 0 40px #efefef inset;-webkit-text-fill-color: #333}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{transition:background-color 5000s ease-in-out 0s;}
select{position:relative;-webkit-appearance:none;-moz-appearance:none;appearance:none;display:inline-block;width:100%;height:30px;font-size:14px;line-height:1;font-weight:400;color:#888;padding:5px 38px 5px 15px;border-radius:0;background-color:#fff;border:none;background-image:url(../../images/util/select_arrow.png);background-position:right top;background-repeat:no-repeat;z-index:0;;white-space:normal;word-wrap:normal;word-break:normal;border:1px solid #ddd;box-sizing:border-box;transition:border 0.5s ease;z-index:0;}
:root select{padding:5px 5px 5px 15px \0/IE9;}
select:focus{outline:none;border-color:#333;color:#888}
select::-ms-expand{display:none}
select[disabled] {color:#999;background-color:#f7f7f7}
select[disabled]:focus {border:1px solid #ddd !important}
textarea{display:inline-block;width:100%;height:160px;font-size:16px;line-height:24px;color:#000;padding:20px;background-color:#fff;border-radius:0;box-sizing:border-box;resize:none;border:1px solid #d2d2d2}

input[readonly]{color:#a5a5a5;background:#f7f7f7}
input[readonly]:focus{border:1px solid #ddd !important}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=tel]:focus,
input[type=password]:focus,
textarea:focus{outline:none;border:1px solid #333;z-index:1}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=text]:disabled,
input[type=number]:disabled,
input[type=email]:disabled,
input[type=url]:disabled,
input[type=tel]:disabled,
input[type=password]:disabled,
textarea:disabled{border-color:#fff;}

label{cursor:pointer}
::-webkit-input-placeholder{color:#999}
::-moz-placeholder{color:#999}
:-ms-input-placeholder{color:#999}
:-moz-placeholder{color:#999}
input[type=submit]{display:inline-block;border:none;outline:none;background:none;border-radius:0;cursor:pointer}
button{display:inline-block;border:none;outline:none;background:none;padding:0;border-radius:0;cursor:pointer;line-height:1;letter-spacing:-0.050em}
button:focus,
button:active{padding:0;outline:none;}
button span{position:relative;}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #efefef inset;
}


/* jquery-ui */
.ui-datepicker {font-family:Noto Sans CJK KR, 'NotoSansKR', sans-serif !important;letter-spacing:-0.025em;z-index:1000 !important}
.ui-datepicker .ui-datepicker-title select {min-width:0; width:95px; height:30px; font-size:14px; color:#888; padding:5px 5px 5px 15px; margin:0 3px; background-position:right top}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {top:0;display:none;}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {top:0;display:none;}
.ui-datepicker .ui-datepicker-buttonpane {background-image:none;margin:0;padding:0;border:none;}
.ui-datepicker .ui-datepicker-buttonpane button {float:none;margin:0;cursor: pointer;padding:0;width:auto;overflow: visible;}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{display:none}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-close{position:absolute;top:-1px;right:-1px;display:block;width:38px;height:38px;font-size:0;background:#fff url(../../images/datepicker/btn_datepicker_close.png) center center no-repeat !important;border:1px solid #c9c9c9 !important;border-radius:0;}

.datepicker-input {position:relative; display:inline-block; width:100%; height:48px;}
.datepicker-input > input {color:#333;font-size:18px;font-weight:700;padding:0 20px;}
.datepicker-input > img {position:absolute; top:1px; right:1px; width:50px; height:46px; cursor:pointer;border-left:1px solid #ccc;border-radius: 0px 5px 5px 0px;}



.ui-widget-content{border-radius:0;padding:30px 42px 38px 42px;background:#fff;border:1px solid #cacaca;width:280px}
.ui-datepicker .ui-datepicker-header{padding:0;height:30px;border:none;background:none;margin-bottom:4px}
.ui-datepicker .ui-datepicker-title{line-height:30px;font-size:18px;color:#262626;font-weight:400}
.ui-state-default{border:none !important;background:#fff !important;width:40px;height:40px;font-family:'Barlow';font-size:18px;color:#666;font-weight:500;text-align:center !important;line-height:40px;padding:0 !important;margin:0 auto}
.ui-datepicker-current-day > a{background:#084897 !important;color:#fff !important;border-radius:50%;}
.ui-state-default.ui-state-hover{}
.ui-widget-header .ui-icon{background:none;font-size:0}
.ui-datepicker .ui-datepicker-prev{position:absolute;top:0;left:0;width:30px;height:30px;background:url(../../images/datepicker/btn_datepicker_prev.png) center center no-repeat !important;border:none;}
.ui-datepicker .ui-datepicker-next{position:absolute;top:0;right:0;width:30px;height:30px;background:url(../../images/datepicker/btn_datepicker_next.png) center center no-repeat !important;border:none;}
.ui-datepicker table{margin:0;font-size:0;table-layout:fixed;}
.ui-datepicker th{padding:5px 0;font-family:'Nanum Square';font-size:14px;font-weight:700;line-height:40px;}
.ui-datepicker td{padding:2px 0}

.d_wrap{position:relative;}
.d_wrap input{padding-right:44px}
.d_wrap > img{position:absolute;top:1px;right:1px;z-index:10;cursor:pointer}

.date_mulity_input{display:inline-block;}
.date_mulity_input > div{display:inline-block}
.date_mulity_input .line{display:inline-block;line-height:30px;text-align:center;width:27px;}

/* radio box */
.radio{position:relative;display:inline-block;min-height:18px;padding-left:18px;}
.radio input[type=radio]{position:absolute;top:50%;left:0;width:18px;height:18px;opacity:0;margin-top:-10px;}
.radio input[type=radio] + label{display:inline-block;height:18px;margin-left:10px;font-size:14px;color:#888;line-height:18px;}
.radio input[type=radio] + label span{display:inline-block;font-size:0;position:absolute;top:0;left:0;width:18px;height:18px;background:#fff;border:1px solid #c9c9c9;border-radius:50%;cursor:pointer;box-sizing:border-box;}
.radio input[type=radio] + label span:after{content:'';display:block;position:absolute;top:50%;left:50%;width:0;height:0;background-color:#084897;margin:0 0;border-radius:50%;transition:all 0.15s ease}
.radio input[type=radio] + label em{font-size:14px;color:#888;line-height:18px}
.radio input[type=radio]:checked + label span{border-color:#084897}
.radio input[type=radio]:checked + label span:after{width:10px;height:10px;margin:-5px 0 0 -5px;}
.radio.single input[type=radio] + label{margin:0;font-size:0;}
.radio input[type=radio][disabled] + label span{background-color:#f7f7f7 !important;border-color:#ccc !important}
.radio input[type=radio][disabled]:checked + label span{opacity:0.5;}

/* check box */
.check {position:relative;display:inline-block;min-height:18px;padding-left:18px;line-height:18px}
.check input[type=checkbox] {position:absolute;top:0;left:0;width:18px;height:18px;opacity:0;}
.check input[type=checkbox] + label{display:inline-block;height:18px;margin-left:10px;font-size:14px;color:#888;line-height:18px;}
.check input[type=checkbox] + label span{display:inline-block;font-size:0;position:absolute;top:0;left:0;width:18px;height:18px;background-color:#fff;border:1px solid #c9c9c9;cursor:pointer;background-image:url(../../images/icon/icon_checkbox.png);background-position:center top;background-repeat:no-repeat;transition:background-color 0.2s, border 0.2s ease;box-sizing:border-box}
.check input[type=checkbox]:checked + label span{border-color:#084897;background-color:#084897;background-position:center bottom;}
.check.single input[type=checkbox] + label{margin:0;font-size:0;}
.check input[type=checkbox][disabled] + label span{background-color:#f7f7f7 !important;border-color:#ccc !important}
.check input[type=checkbox][disabled]:checked + label span{opacity:0.5;background-color:#084897 !important;border-color:#084897 !important;background-position:center bottom;}

table .check,
table .radio{vertical-align:middle}


/* row check */
.row_check{}
.row_check + .row_check{margin-top:17px}
.row_check > ul{overflow:hidden;margin:-5px -20px}
.row_check > ul > li{float:left;padding:5px 20px;line-height:1}
.row_check.row_per{}
.row_check.row_per > ul > li{width:33.33%;box-sizing:border-box;}

.row_mulity_check{display:inline-block;padding:6px 0;line-height:1}
.row_mulity_check > p{margin-left:40px;}
.row_mulity_check > p:first-child{margin-left:0;}

.btn_info_left{margin-left:20px}

.btn_input_search{margin-left:7px;}

/* col check */
.col_check{}
.col_check > ul{}
.col_check > ul > li{margin-top:20px}
.col_check > ul > li:first-child{margin-top:0}

/* input dubble */
.input_dubble{overflow:hidden}
.input_dubble > p{float:left;width:50%;box-sizing:border-box}
.input_dubble > p:first-child{padding-right:5px}
.input_dubble > p:last-child{padding-left:5px}

/* 컨텐츠 검색 */
.d_search{position:relative;}
.d_search > a,
.d_search > button,
.d_search > input[type=submit]{display:inline-block;position:absolute;top:0;right:0;width:42px;height:38px;background:url(../../images/util/btn_con_sarch.png) left top no-repeat;z-index:5}
.d_search input[type=text]{padding-right:48px}

/* 파일 */
.file_cell {position:relative;display:block;padding-right:100px;overflow:hidden;}
.file_cell.small {display:inline-block;}
.file_cell input[type=text]{width:100%;}
.file_cell input[type=file]{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;z-index:50;cursor:pointer}
.file_cell input[readonly]{color:#666;background:#fff;}
.file_cell input[readonly]:focus{border:none !important}
.file_cell .btn_file{position:absolute;top:0;right:0;width:90px;padding:0}
.file_cell .btn_file_del{position:absolute;top:0;right:0;width:90px;padding:0}
.file_cell.type_02{padding-right:200px;}
.file_cell.type_02 .btn_file{right:100px;}
.file_cell.type_02 input[type=file]{left:-100px;}

/* 링크추가 */
.add_link {position:relative;display:block;padding-right:100px}
.add_link input[type=text]{width:100%;}
.add_link input[type=file]{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;z-index:50;cursor:pointer}
.add_link input[readonly]{color:#666;background:#fff;border:none;padding:0;}
.add_link input[readonly]:focus{border:none !important}
.add_link .btn_file{position:absolute;top:0;right:0;width:90px;padding:0}
.add_link .read_link{max-width:100%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;text-align:left;color:#5b77ff;text-decoration:underline}

/* 위치 입력 */
.position_input{display:inline-block;color:#888;line-height:30px;}
.position_input > p{display:inline-block;margin-left:37px}
.position_input > p:first-child{margin-left:0;}
.position_input label{display:inline-block;width:45px;}
.position_input span{margin-left:10px;}


/* 여러개 파일첨부 */
.file_parent{}
.file_parent > li {margin-top:10px;}
.file_parent > li:first-child{margin-top:0;}
.file_parent .file_cell{display:inline-block;width:370px;padding-right:140px;}
.file_parent .file_cell .btn_file{right:40px;}
.file_parent input[type=file]{left:-40px;}
.file_add_info{margin-left:20px;line-height:30px;}
.btn_fild_add{position:absolute;top:0;right:0;display:block;width:30px;height:30px;background:#fff;border:1px solid #ddd;}
.btn_fild_add:before{content:'';position:absolute;top:50%;left:50%;width:2px;height:14px;margin:-7px -0 0 -1px;background:#666;display:block;}
.btn_fild_add:after{content:'';position:absolute;top:50%;left:50%;width:14px;height:2px;margin:-1px 0 0 -7px;background:#666;display:block;}
.btn_fild_del{position:absolute;top:0;right:0;display:block;width:30px;height:30px;background:#fff;border:1px solid #ddd;}
.btn_fild_del:before{content:'';position:absolute;top:50%;left:50%;width:14px;height:2px;margin:-1px 0 0 -7px;background:#666;display:block;}

/* 코드입력 */
.code_input_wrap{}
.code_input_wrap > li{padding:10px 20px;border-top:1px solid #e6e6e6}
.code_input_wrap > li:first-child{border-top:none;}
.code_input_wrap .code_input{position:relative;padding:0 110px;}
.code_input_wrap .code_input .btn_code_del{position:absolute;top:0;right:0;width:90px}
.code_input_wrap .code_input input.number{position:absolute;top:0;left:34px;width:57px;text-align:center;padding:0;}
.code_input_wrap .code_input em{position:absolute;top:0;left:0;line-height:30px;}

.simple_radio > p{display:inline-block;margin:0 5px;}

.all_check_right{padding-bottom:10px;margin-bottom:10px;line-height:1;border-bottom:1px solid #e6e6e6}

.input_btns > a,
.input_btns > button,
.input_btns > input[type=submit]{margin-left:10px;vertical-align:top;}
.input_btns > input[type=text] {}

/* 20190324 추가 */
.product_sort_search_wrap{padding:0 0;}
.product_sort_search_wrap > ul > li{padding:10px 20px;border-top:1px solid #e6e6e6;}
.product_sort_search_wrap > ul > li:first-child{margin-top:0;border-top:none;}
.product_sort_search_wrap .cell{position:relative;padding-right:100px;max-width:500px;}
.product_sort_search_wrap .btn_search,
.product_sort_search_wrap .btn_del{position:absolute;top:50%;right:0;margin-top:-15px;}
